body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

section {
    background-color: whitesmoke;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 13%;
    width: 55%;
    height: 50%;
    align-items: center;
}

img {
    width: 50%;
    height: auto;
}

img:hover {
    transform: scale(1.05);
}

a {
    font-size: large;
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: rgb(0, 153, 255);
}